@if (isVisible()) {
  <div class="promo-banner">
    <div
      class="promo-banner__ticker"
      role="img"
      [attr.aria-label]="tickerText()"
    >
      <div class="promo-banner__track" aria-hidden="true">
        <span [attr.dir]="language.language()">{{ tickerText() }}</span>
        <span [attr.dir]="language.language()">{{ tickerText() }}</span>
      </div>
    </div>

    <button
      type="button"
      class="promo-banner__close"
      (click)="dismiss()"
      [attr.aria-label]="language.t('promo.dismiss')"
    >
      <svg lucideX class="size-[18px]"></svg>
    </button>
  </div>
}